<div class="home">
  <p class="home-greeting">Oi, <%= Current.user.display_name %></p>

  <% if @focused_quest.present? %>
    <%= render "focus_card", quest: @focused_quest %>
  <% elsif @active_quests.any? %>
    <%= render "choose_focus", quests: @active_quests %>
  <% else %>
    <%= render "no_quests" %>
  <% end %>
</div>
